<!-- Denver DeBoer -->
<!-- The home screen for Slice or Dice -->
<!-- Will be used to display results of recipe lookup as well as -->
<!-- provide links to seach and myList screens -->
<html>
    <head>
        <title>SLICEorDICE</title>
        <style>
            #title {
                font-size: 30px;
                font-style: italic;
                text-align: center;
                margin: 0 auto;
            }
            .button {
                padding: 10px 40px;
                font-size: 16px;
                margin: 10px;
                transition-duration: 0.5s;
                background-color: darkslategrey;
                color: black;
                /*border: 2px solid green;*/
            }
            .button:hover {
                background-color: green;
                color:white;
            }
        </style>
    </head>
    <body>
        <!--Page Title-->
        <div id="title">Slice or Dice</div>
        <!--Span to act as a menubar -->
        <span>
            <a href="/recipeSearch"><input type="button" value="Search" class="button left"></a>
            <a href="/recipeList"><input type="button" value="MyList" class="button right"></a>
        </span>
        <!-- A table to display recipe results -->
        <table>
            <tr>
                <th>Image</th>
                <th>Name</th>
                <th>Yields</th>
                <th>Time</th>
            </tr>
            <% if(typeof data != 'undefined') { %>
                <% for(let i = 0; i < data.hits.length; i++) { %>
                    <tr>
                        <td><img src="<%= data.hits[i].recipe.images.THUMBNAIL.url %>" width="100" height="100"></td>
                        <td><%= data.hits[i].recipe.label %></td>
                        <td><%= data.hits[i].recipe.yield %></td>
                        <td><%= data.hits[i].recipe.totalTime %></td>
                        <td><input type="button" value="View"></td>
                    </tr>
                <% } %>
            <% } %>
        </table>
    </body>
</html>