<!-- Denver DeBoer -->
<!-- Page to create a custom list of ingredients -->
<html>
    <head>
        <title>SLICEorDICE</title>
        <style>
            #title {
                font-size: 30px;
                font-style: italic;
                text-align: center;
                margin: 0 auto;
            }
            .return {
                padding: 10px 20px;
                font-size: 16px;
                margin: 10px;
                transition-duration: 0.5s;
                background-color: darkslategrey;
                color: black;
                /*border: 2px solid green;*/
            }
            .return:hover {
                background-color: crimson;
                color: white;
            }
        </style>
        <script>
            var myList = ['A', 'B', 'C']

            //Display the myListArray
            function display() {
                document.getElementById("theList").innerHTML = myList.join("<br>") + ("<br>")
            }
            //Adds an ingredient to the array
            function add() {
                myList.push(document.getElementById("inputBox").value)
                display()
            }
            //Removes an ingredient from the array
            function remove() {
                for(var i = 0; i < myList.length; i++) {
                    if(myList[i] === document.getElementById("inputBox").value) {
                        myList.splice(i, 1)
                    }
                }
                display()
            }
        </script>
    </head>
    <body>
        <span>
            <!-- Title of recipe -->
            <div id="title">MyList</div>
            <!-- Back button -->
            <a href=/recipeMain><input type="button" value="Back" class="right return"></a><br>
        </span>
        <!-- Span to hold input text box as well as add and remove buttons -->
        <span>
            <label for="inputBox">Ingredients:</label>
            <input type="text" id="inputBox" class="center">
            <input type="button" value="Add" onClick=add()>
            <input type="button" value="Remove" onClick=remove()><br>
        </span>
        <!-- Display the list of ingredients in the user's list -->
        <div id="theList"></div>
    </body>
</html>