<!-- Denver DeBoer -->
<!-- Page to create a custom list of ingredients -->
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet">

        <title>SLICEorDICE</title>
        <style>
            #title {
                font-size: 50px;
                font-style: italic;
                text-align: center;
                margin: 0 auto;
            }
            .return {
                padding: 10px 20px;
                font-size: 16px;
                margin: 10px;
                transition-duration: 0.5s;
                background-color: lightslategrey;
                color: black;
                /*border: 2px solid green;*/
            }
            .return:hover {
                background-color: crimson;
                color: white;
            }
        </style>
    </head>
    <body>
        <!--Page Title-->
        <div id="title">MyList</div>

        <!-- Nav bar -->
        <nav class="navbar navbar-expand navbar-dark bg-dark">
            <div class="container-fluid">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item"><a class="nav-link" href="/recipeSearch">Search</a></li>
                    <li class="nav-item"><a class="nav-link" href="/recipeMain">Home</a></li>
                    <li class="nav-item"><a class="nav-link active" href="/recipeList">MyList</a></li>
                </ul>
            </div>
        </nav>

        <!-- Form to hold input text box as well as add and remove buttons -->
        <form action="/recipeList" accept-charset="UTF-8" method="post">
            <span>
                <label for="inputBox">Ingredients:</label>
                <input type="text" id="inputBox" class="center">
                <input type="button" value="Add" onClick=add()>
                <input type="button" value="Remove" onClick=remove()><br>
            </span>
            <!-- Display the list of ingredients in the user's list -->
            <div id="divList"></div>
            <input type="hidden" id="theList" name="mylist" value=" ">
            <div class="actions">
                <input type="submit" name="commit" value="Submit">
            </div>
        </form>
        <script>
            let testList = ['<%-uList[0].ingred%>']
            let myList = []
            myList = testList[0].split(",")
            display()

            //Display the myListArray
            function display() {
                document.getElementById("divList").innerHTML = myList.join("<br>") + ("<br>")
                document.getElementById('theList').value = myList
            }
            //Adds an ingredient to the array
            function add() {
                myList.push(document.getElementById("inputBox").value)
                display()
            }
            //Removes an ingredient from the array
            function remove() {
                for(var i = 0; i < myList.length; i++) {
                    if(myList[i] === document.getElementById("inputBox").value) {
                        myList.splice(i, 1)
                    }
                }
                display()
            }
        </script>
    </body>
</html>